<!-- <div>
    <h3><a href="/home" class="" style="color:black;">回主頁</a></h3>
</div> -->
<div style="margin-top:5px;border:2px solid black;width:100%;padding:25px;">

    <h3>{{self.title}}</h3>

    <div style="margin-top:50px;border:2px dashed black;width:100%;">
        <h3>{{self.content}}</h3>
        <test></test>
    </div>

</div>


<div style="margin-top:50px;border:2px solid black;width:877px;">
    <h2> <span style="color:red">練習項目</span></h2>
    <h4> <span style="color:purple">1.元件降級</span></h4>
</div>